.bungee-regular {
    font-family: "Bungee", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: block;
    width: 1200px;
    height: 800px;
    border: #020202 solid 10px;
    border-radius: 20px;
    margin: 80px auto;
    background-image: url("img/jorts.gif");
    background-size: 1200px 800px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    animation: border-color-change 2s linear infinite;
}

@keyframes border-color-change {
    0% {border-color: #00FFFF;}
    24% {border-color: #00FFFF;}
    25% {border-color: #FF10F0;}
    49% {border-color: #FF10F0;}
    50% {border-color: #39FF14;}
    74% {border-color: #39FF14;}
    75% {border-color: #FF6700;}
    99% {border-color: #FF6700;}
    100% {border-color: #00FFFF;}
}


#title {
    font-size: 50px;
    font-family: "Bungee";
    color: #e4f7e5;
    margin-left: 80px;
    margin-top: 80px;
    text-align: left;
    width: auto;
    animation: text-color-change 1.8s linear infinite;
    text-shadow: #e4f7e5 0px 0px 5px;
}

#title:hover {
    animation: text-color-change 0.5s linear infinite;
}

@keyframes text-color-change {
    0% {color: #B5A642; text-shadow: #FF00A0  0px 0px 10px;}
    24% {color: #B5A642; text-shadow: #FF00A0  0px 0px 5px;}
    25% {color: #8D00FF; text-shadow: #00FFFF  0px 0px 10px;}
    49% {color: #8D00FF; text-shadow: #00FFFF  0px 0px 10px;}
    50% {color: #5F7F22; text-shadow: #FF00A0  0px 0px 5px;}
    74% {color: #5F7F22; text-shadow: #FF00A0  0px 0px 5px;}
    75% {color: #FF3131; text-shadow: #00FFFF 0px 0px 10px;}
    99% {color: #FF3131; text-shadow: #00FFFF 0px 0px 10px;}
    100% {color: #B5A642; text-shadow: #FF00A0 0px 0px 5px;}
}


.subtitle {
    font-size: 24px;
    font-family: "Bungee";
    color: #e4f7e5;
    margin: 0px 80px;
    width: 400px;
    vertical-align: top;
    text-shadow: #e4f7e5 0px 0px 2px;
}

#ripped {
    position: relative;
    display: inline-block;
}

#ripped-top {
    position: absolute;
    top: 0;
    display: inline-block;
    clip-path: polygon(0% 55%, 0% 0%, 100% 0%, 100% 45%, 85% 30%, 70% 47%, 65% 50%, 57% 35%, 50% 47%, 40% 25%, 29% 43%, 20% 30%, 10% 69%);
    transition: transform 0.6s cubic-bezier(.03,1.02,.47,.93) 0.25;
}

#ripped-top::after {
    position: absolute;
    top: 30%;
    width: 100%;
    height: 5%;
    transform: rotateZ(-2.2deg) scaleX(0%);
    transform-origin: right top;
    transition: transform 0.5s ease 0.2s;
}

#ripped-bot {
    top: 0;
    display: inline-block;
    clip-path: polygon(0% 110%, 0% 54%, 10% 68%, 20% 29%, 29% 43%, 40% 24%, 50% 46%, 57% 34%, 65% 49%, 70% 46%, 85% 29%, 100% 44%, 100% 110%);
    text-decoration: none;
}

#ripped-bot::after {
    position: absolute;
    top: 60%;
    width: 100%;
    height: 5%;
    transform: rotateZ(5deg) scaleX(0%);
    transform-origin: right top;
    transition: transform 0.5s ease 0.2s;
}

#ripped:hover #ripped-top {
    transform: translateY(-10px) rotateZ(-0.7deg);
    transition: transform 0.3s cubic-bezier(.03,1.02,.47,.93) 0.2s;
}

#ripped:hover #ripped-bot {
    background-position: 100% bottom;
    transform: translateY(10px) rotateZ(0.4deg);
    transition: transform 0.3s cubic-bezier(.03,1.02,.47,.93) 0.2s;
}

#ripped:hover #ripped-top::after {
    top: 50%;
    transform-origin: left top;
    transform: rotateZ(-1.2deg) scaleX(100%);
    transition: transform 0.5s ease 0.2s; 
}

#ripped:hover #ripped-bot::after {
    top: 50%;
    transform-origin: left top;
    transform: rotateZ(-1.1deg) scaleX(100%);
    transition: transform 0.5s ease 0.2s;
}


.table-data {
    height: 250px;
    vertical-align: top;
}


#extreme:before {
    display: block;
    content: "extreme.";
    transform-origin: 20% 50%;
    animation: capitalize-shake 3s linear infinite;
}

@keyframes capitalize-shake {
    0% {text-transform: lowercase;}
    39% {transform: rotate(0deg);}
    40% {text-transform: lowercase; transform: rotate(5deg); font-size: 24px; color: #e4f7e5; content: "extreme.";}
    41% {text-transform: uppercase; transform: rotate(0deg); font-size: 40px; color: #FF028D; content: "extreme!";}
    42% {transform: rotate(-5deg);}
    43% {transform: rotate(0deg);}
    44% {transform: rotate(5deg); content: "extreme!!";}
    45% {transform: rotate(0deg);}
    46% {transform: rotate(-5deg);}
    47% {transform: rotate(0deg);}
    48% {transform: rotate(5deg); content: "extreme!!!";}
    49% {transform: rotate(0deg);}
    50% {transform: rotate(-5deg);}
    51% {transform: rotate(0deg);}
    52% {transform: rotate(5deg); content: "extreme!!!!";}
    53% {transform: rotate(0deg);}
    54% {transform: rotate(-5deg);}
    55% {transform: rotate(0deg);}
    56% {transform: rotate(5deg); content: "extreme!!!!!";}
    57% {transform: rotate(0deg);}
    58% {transform: rotate(-5deg);}
    59% {transform: rotate(0deg);}
    60% {text-transform: uppercase; transform: rotate(5deg); font-size: 40px; color: #FF028D; content: "extreme!!!!!1";}
    61% {text-transform: lowercase;transform: rotate(0deg); font-size: 24px; color: #e4f7e5; content: "extreme.";}
    100% {text-transform: lowercase;}
}

.freelance {
    color: #00FFFF;
}

.freelance #barista{
    display: none;
}

.freelance:hover #writer {
    display: none;
}

.freelance:hover #barista {
    display: inline;
    color: #ff00ee;
}

#teleport-btn {
    position: absolute;
    font-family: "Bungee";
    top: 550px;
    left: 1020px;
    width: 100px;
    height: 100px;
    margin-right: 80px;
    border: #ff00ee solid 5px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    color: #ff00ee;
    background-color: #00FFFF;
}